<!DOCTYPE html>
<html>
  <head>
     <link rel="'stylesheet" href="/public/css/styles.css" />
  </head>

<body>
    <center>
        <img id="image" src="/public/images/rdplogo.png" />
        <h4>Mock JSON Database Operations</h4>
    </center>



</body>

</html>